# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# FAISS / model cache
*.faiss
*.pkl

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db